:root{
    --Turqueza: #548DB8;
    --TurquezaFuerte: #117798;
    --Rey: #3A26DD;
    --Marino: #28397E; 
    --AzulNabi: #09418E;
    --Morado: #94719F;
    --Rojo: #AD2448;
    --Vino: #42052D;
    --Rosa: #E48EC0;
    --Verde: #20AB3C;
    --VerdeFuerte: #1C9C4D;
    --VerdeOlivo: #779A64;
}